*{
    padding:0;
    margin:0;
}

header{
    margin:15px;
    width: 100%;
}

header span{
    font-size:35px;
    font-family: 'Times New Roman', Times, serif;
}

#body-text{
    font-size:16px !important;
}

#title-head{
    font-size:26px !important;
}
.round{
    border-radius: 40px;
}
h3{
    text-align: center;
}
#log-out{
    display:inline !important;
}